.Rproj.user
.Rhistory
.RData
.Ruserdata

# Local Folders
logistics/
modules/module_2_data_exploration/data/test*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
